.footer__column-link {
  font-size: 18px;
  line-height: 18px;
  font-weight: normal;
  list-style-type: none;
  display: flex;
  margin: 10px;
  align-items:flex-start;
  text-decoration: none;
  color:white;
}


.footer__column-link:hover {
  opacity: 0.5;
  transition: 1s;
}

