.footer__column-link {
  font-size: 18px;
  line-height: 18px;
  font-weight: normal;
  list-style-type: none;
  text-decoration: none;
  color:white;
  display: flex;
  margin-bottom: 10px;
}

.footer__column-link:hover {
  opacity: 0.5;
  transition: 1s;
}


