.footer__column-links {
  margin: 0;
  list-style-type: none;
  padding-left: 0;
}

/* .footer__column-links li:last-of-type .footer__column-link  {
  margin-bottom: 0;
}

Екатерина, ранее вы писали, что нужно сбросить отступ у последнего элемента,
но из-за ссылок свойство last-child не работает, поэтому я посоветовавшись
с наставником, сделала так. Или второй вариант нужно было делать класс для li,
но мы ограничены в классах. Поэтому так)
*/
